
@model IEnumerable<com.GreenThumb.MVC.Models.MessageViewModelOutbox>
<div class="green-btn">
    @Html.ActionLink("Create A New Message", "Compose")
</div>
<div class="green-btn">
    @Html.ActionLink("Inbox", "Inbox")
</div>
@using (Html.BeginForm("Outbox", "Message", FormMethod.Post))
{
    if (Model != null)
    {

        <div class="messagebox">
            <div class="messagebox-header">
                <span class="user">To</span>
                <span class="message-subject">Subject</span>
                <span class="message-date">Date</span>
                <span class="message-delete">Delete?</span>
            </div>

            <div class="messages">
                @foreach (var message in Model)
                {
                    @Html.HiddenFor(m => message.MessageID)
                    <span class="user">@message.Receiver</span>
                    <span class="message-subject">@message.Subject</span>
                    <span class="message-date">@message.Date.ToString()</span>
                    <span class="message-delete">@Html.CheckBoxFor(m => message.Delete)</span>
                    <div class="message-content">
                        @message.Content
                    </div>
                    <br />
                }
            </div>
        </div>
        <div>
            <input type="submit" value="Delete" class="green-btn" />
        </div>
    }
    else
    {
        <p>Your outbox is empty!</p>
    }
}


