@*Edited by: Ash Duhautois 05/04/2016
    Formatted styling*@

@using com.GreenThumb.BusinessObjects;
@model IEnumerable<GroupNeedSummary>

@{
    ViewBag.Title = "Index";
}

<h1>Help out!</h1>
<div class="dark-div round">
    @Html.ActionLink("View your contributions", "ViewContributions", "Donation", new { @class = "btn btn-default" })
    @if (0 < Model.Count())
    {
        foreach (GroupNeedSummary summary in Model)
        {
            <h2>@Html.ActionLink(summary.GroupName, "ViewGroupNeeds", "Donation", new { id = summary.GroupID }, null)</h2>
            <p class="text-right">Leader: @summary.GroupLeader.UserName</p>
            <p>@summary.ActiveNeeds</p>
            <p>@summary.CompletedNeeds</p>
        }
    }
    else
    {
        <div>
            <p>No needs found!</p>
        </div>
    }
</div>
