@* Created By: Trent Cullinan 04/14/16 *@
@using com.GreenThumb.MVC.Models;
@using com.GreenThumb.BusinessObjects;
@model GardenDetailViewModel

@{
    ViewBag.Title = "GardenDetail";
    ViewBag.GardenId = Model.GardenID;
    const string nullRecords = "Unable to retrieve records.";
}

<h2>GardenDetail</h2>

<div>
    @if (ViewBag.GroupLeader)
    {
        @Html.ActionLink("Add Need", "AddNeed", "Garden", new { id = Model.GardenID }, new { @class = "btn btn-default" })
    }
    <br />
    @Html.LabelFor(m => m.ActiveNeeds, new { @class = "h3" })
    <div>
        @if (null != Model.ActiveNeeds)
        {
            @Html.Partial("~/Views/PartialViews/_GardenNeedsTable.cshtml", Model.ActiveNeeds)
        }
        else
        {
            <p class="h3">@nullRecords</p>
        }
    </div>
    
    <div>
        @* If the collection is null then do not display anything *@
        @if (null != Model.PendingContributions)
        {
            @Html.LabelFor(m => m.PendingContributions, new { @class = "h3" })
            @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.PendingContributions)
        }
    </div>
    
    @Html.LabelFor(m => m.CompletedNeeds, new { @class = "h3" })
    <div>
        @if (null != Model.CompletedNeeds)
        {
            if (0 < Model.CompletedNeeds.Count())
            {
                <table class="table table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.CompletedNeeds.FirstOrDefault().Title)</th>
                            <th>@Html.DisplayNameFor(m => m.CompletedNeeds.FirstOrDefault().Description)</th>
                            <th>@Html.DisplayNameFor(m => m.CompletedNeeds.FirstOrDefault().DateCreated)</th>
                            <th>@Html.DisplayNameFor(m => m.CompletedNeeds.FirstOrDefault().CreatedBy.UserName)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GardenNeed gardenNeed in Model.CompletedNeeds)
                        {
                            <tr>
                                <td>@gardenNeed.Title</td>
                                <td>@gardenNeed.Description</td>
                                <td>@gardenNeed.DateCreated.ToShortDateString()</td>
                                <td>@gardenNeed.CreatedBy.UserName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="h4">No needs found.</p>
            }
        }
        else
        {
            <p class="h3">@nullRecords</p>
        }

    </div>
    
</div>

