@*
    <summary>
     Partial View table of expert articles.
     Author: Chris Schwebach
     Date:  4/28/2016
     </summary>
     <returns>ArticleList by article</returns>
*@
@*Edited by: Ash Duhautois 05/04/2016
    Formatted styling*@

@using com.GreenThumb.MVC.Models
@model IEnumerable<ArticlesViewModel>

<h1>Articles</h1>
<br />
<div class="dark-div round">
    @*<table class="table">
        <thead>
            <tr>
                <th>
                    Article Title
                </th>
                <th>
                    Article Content
                </th>
                <th>
                    Authors Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ArticlesViewModel blogInfo in Model)
            {
                <tr>
                    <td>
                        @blogInfo.blog.BlogTitle
                    </td>
                    <td>
                        @blogInfo.blog.BlogData
                    </td>
                    <td>
                        @blogInfo.FirstName @blogInfo.LastName
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
    @foreach (ArticlesViewModel blogInfo in Model)
    {
        <div class="blog-post">
            <h3>@blogInfo.blog.BlogTitle</h3>
            <br />
            <h2 class="text-right">@blogInfo.FirstName @blogInfo.LastName</h2>
            <br />
            <p>@blogInfo.blog.BlogData</p>
        </div>
    }
</div>