@* Created By: Trent Cullinan 04/14/16 *@
@using com.GreenThumb.BusinessObjects;
@model IEnumerable<NeedContribution>
<div>
    @if (0 < Model.Count())
    {
        <table class="table table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Need.Title)</th>
                    <th>@Html.DisplayNameFor(m => m.Description)</th>
                    <th>@Html.DisplayNameFor(m => m.SentBy.UserName)</th>
                    <th>@Html.DisplayNameFor(m => m.DateCreated)</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (NeedContribution need in Model)
                {
                    <tr>
                        <td>@need.Need.Title</td>
                        <td>@need.Description</td>
                        <td>@need.SentBy.UserName</td>
                        <td>@need.DateCreated</td>
                        <td>
                            @Html.ActionLink("Approve", "ApproveContribution", new { id = ViewBag.GardenId, contributionId = need.NeedContributionID }, null)
                            @Html.ActionLink("Decline", "DeclineContribution", new { id = ViewBag.GardenId, contributionId = need.NeedContributionID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="h3">No contributions found.</p>
    }
</div>
