@*Created by: Nicholas King AND Trent Cullinan  04/03/2016
  Modified by: Ashlyn Duhautois 04/15/2016
    Disabled CreatedDate columns - not functional
*@
@using com.GreenThumb.MVC.Models;
@model IEnumerable <GroupIndexViewModel.UserGroupViewModel>

<h2>Groups open for joining:</h2>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.SingleOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.SingleOrDefault().LeaderUserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.SingleOrDefault().LeaderEmail)
            </th>
            @*<th>
                @Html.DisplayNameFor(m => m.SingleOrDefault().CreatedDate)
            </th>*@
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (GroupIndexViewModel.UserGroupViewModel groupView in Model)
        {
            <tr>
                <td>
                    @groupView.Name
                </td>
                <td>
                    @groupView.LeaderUserName
                </td>
                <td>
                    @groupView.LeaderEmail
                </td>
                @*<td>
                    @groupView.CreatedDate
                </td>*@
                <td>
                    @Html.ActionLink("Request to Join", "RequestJoinGroup", "Group", new { group = groupView.GroupId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
