@* Created by: Trent Cullinan 04/05/2016 *@
@using com.GreenThumb.MVC.Models
@model IEnumerable<GroupGardenViewModel>

<div class="jumbotron">
    @if (null != Model)
    {
        <p><strong class="text text-primary">Group Gardens</strong></p>
        if (0 < Model.Count())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().GardenName)</th>
                        @* Garden description is just for testing *@
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Description)</th>
                        @* Check roles for group leader, then add column for options *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (GroupGardenViewModel garden in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(garden.GardenName, "GardenDetail", "Garden", new { id = garden.GardenID }, new { @class = "label label-default" })</td>
                            @* Garden description is just for testing *@
                            <th>@Html.DisplayName(garden.Description)</th>
                            @* Check roles for group leader, then add column for options *@
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>@Html.DisplayText("No gardens found.")</h3>
        }
    }
    else
    {
        <p>@Html.DisplayText("Unable to retrieve group gardens.")</p>
    }
</div>