@*Created by: Chris Schwebach, Nick King  04/03/2016*@

@model com.GreenThumb.BusinessObjects.Group

<h2></h2>
<p></p>
<table class="table">  
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.GardenList.SingleOrDefault().GardenID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.GardenList.SingleOrDefault().GroupID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.GardenList.SingleOrDefault().GardenName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.GardenList.SingleOrDefault().UserID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.GardenList.SingleOrDefault().GardenDescription)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.GardenList.SingleOrDefault().GardenRegion)
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach (com.GreenThumb.BusinessObjects.Garden GardenInfo in Model.GardenList)
        {
            <tr>
                <td>
                    @GardenInfo.GardenID 
                </td>
                <td>
                    @GardenInfo.GroupID
                </td>
                <td>
                    @GardenInfo.GardenName
                </td>
                <td>
                    @GardenInfo.UserID
                </td>
                <td>
                    @GardenInfo.GardenDescription
                </td>
                <td>
                    @GardenInfo.GardenRegion
                </td>
            </tr>
        }
    </tbody>
</table>