@* Created by: Trent Cullinan 03/31/16 
   Modified by: Nicholas King 04/03/2016
        Converted into partial page and updated to use new viewmodel
   Modified by: Ashlyn Duhautois 04/15/2016
        Hid 'Created On' field - not functional
*@
@using com.GreenThumb.MVC.Models;
@model IEnumerable<GroupIndexViewModel.UserGroupViewModel>

@{
    ViewBag.Title = "ViewUserGroups";
}

<h2>My list of groups:</h2>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Leader
            </th>
            <th>
                E-mail
            </th>
            @*<th>
                @Html.DisplayNameFor(m => m.SingleOrDefault().CreatedDate)
            </th>*@
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (GroupIndexViewModel.UserGroupViewModel groupView in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(groupView.Name, "Details", "Group", new { id = groupView.GroupId }, null)
                </td>
                <td>
                    @groupView.LeaderUserName
                </td>
                <td>
                    @groupView.LeaderEmail
                </td>
                @*<td>
                    @groupView.CreatedDate
                </td>*@
                <td>
                    @Html.ActionLink("Leave Group", "LeaveGroup", "Group", new { group = groupView.GroupId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>